.LguMasterTemplate {
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.LguMasterTemplate__content {
  flex-grow: 1;
  flex-shrink: 0;
  margin: auto;
  height: 100%;
}
