
.OnlineBilling_totalContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: -10;
}

.OnlineBilling_total {
    font-weight: 800;
    flex-basis: 80px;
}
